._subject-main__article{
	a{
		@include _font-p2r(16);
		text-decoration:none!important;
		&:hover{
			text-decoration:underline!important;
		}
	}
	ul>li>ul{
		margin-top:10px!important;
		>li{
			// @include _font-p2r(14);
			// ._article__p{
			// 	@include _font-p2r(14);
			// 	padding:5px 0;
			// }
			// ._article__text--large{
			// 	@include _font-p2r(18);
			// }
			// ._article__text--small{
			// 	@include _font-p2r(13);
			// }
			padding:3px 0 3px 20px!important;
			// position: relative;
			margin-bottom:0px!important;
		}
		&._article__list--number>li{
			&::before{
				top:4px!important;
			}
		}
	}
	ul>li>ul>li>ul{
		margin-top:5px!important;
		opacity: 0.7;
		li{
			// @include _font-p2r(13);
			// ._article__p{
			// 	@include _font-p2r(13);
			// 	padding:2px 0;
			// }
			// ._article__text--large{
			// 	@include _font-p2r(16);
			// }
			// ._article__text--small{
			// 	@include _font-p2r(12);
			// }
			padding:2px 0 2px 20px!important;
			// position: relative;
			// &::before{
			// 	content:"";
			// 	display: block;
			// 	width:3px;
			// 	height:1px;
			// 	position: absolute;
			// 	top:16px;
			// 	left:0;
			// 	background-color: black;
			// }
		}
	}
}
._article{
	&__h2{
		@include _font-p2r(22);
		font-weight: bold;
		margin: 0;
		padding:0;
	}
	&__h3{
		@include _font-p2r(20);
		font-weight: bold;
		margin: 0;
		padding:0;
		&--bgWhite{
			display: block;
			background-color: white;
			padding:50px 30px;
		}
	}
	&__h4{
		@include _font-p2r(18);
		font-weight: bold;
		margin: 0;
		padding:0;
		&--bgWhite{
			display: block;
			background-color: white;
			padding:50px 30px;
		}
	}
	&__strong{
		@include _font-p2r(22);
		font-weight: bold;
		margin: 0;
		padding:0;
		line-height: 1.8rem;
	}
	&__p{
		@include _font-p2r(16);
		margin: 0;
		padding:0;
	}
	&__icon{
		height:50px;
	}
	&__img{
		width:100%;
	}
	&__br{
		display: block;
		width:100%;
		height: 1rem;
	}
	&__space{
		display: block;
		width:100%;
		height: 60px;
	}
	&__text--center{
		display: block;
		text-align: center;
	}
	&__text--large{
		@include _font-p2r(18);
	}
	&__text--small{
		@include _font-p2r(14);
	}
	&__text--bold{
		font-weight: bold!important;
	}
	&__clip--noGutter{
		margin:0!important;
		padding: 0!important;
	}
	&--alignCenter{
		text-align: center;
		justify-content: center;
	}
	&__block--bgWhite{
		padding:5% 4%!important;
		background-color: white;
		border:1px solid #eee;
	}
	&__block--bgColored{
		padding:5% 4%!important;
		*{
			color:white;
			&::before{
				background-color: white!important;
			}
		}
	}
	&__title--iconed{
		*{
			display: inline-block;
			vertical-align:middle;
		}
		._article__icon{
			height: 50px;
		}
	}
	hr{
		width:100%;
		height: 1px;
		display: block;
		margin:0;
		background-color: #ccc;
		border: none;
	}
	
	&__list{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		counter-reset: li-counter;
		>li{
			@include _font-p2r(16);
			flex: 0 0 100%;
			display: block;
			padding:5px 0 5px 20px;
			position: relative;
			margin-bottom:5px;
			._article__text--large{
				@include _font-p2r(18);
			}
			._article__text--small{
				@include _font-p2r(14);
			}
			&::before{
				content:"";
				display: block;
				width:2px;
				height:2px;
				position: absolute;
				top:18px;
				left:0;
				background-color: black;
			}
			._article__p{
				padding:5px 0;
			}
		}
		&--col2{
			>li{
				flex: 0 0 46%;
			}
		}
		&--number{
			counter-reset: li-counter;

			>li{
				display: block;
				padding:5px 0 5px 20px;
				position: relative;
				counter-increment: li-counter;
				margin-bottom:5px;
				._article__h3,._article__h4{
					padding:5px 0;
				}
				._article__p{
					padding:5px 0;
				}
				&::before{
					content: counter(li-counter) ".";
					display: block;
					width:auto;
					height:auto;
					top:11px;
					left:0;
					background-color: initial!important;
				}
			}
		}
		&--bigDot{
			// border-top:1px solid #ddd;
			counter-reset: li-counter;
			>li{
				border-bottom:1px solid #eee;
				display: block;
				padding:40px 0 40px 80px;
				position: relative;
				counter-increment: li-counter;
				margin-bottom: 0;
				// &:first-child{
				// 	padding-top:0;
				// }
				&:last-child{
					border-bottom:none;
					padding-bottom:0;
				}
				// ._article__p{
				// 	@include _font-p2r(14);
				// 	padding:5px 0;
				// }
				// ._article__text--large{
				// 	@include _font-p2r(18);
				// }
				// ._article__text--small{
				// 	@include _font-p2r(13);
				// }
				&::before{
					@include _font-p2r(15);
					content: counter(li-counter) "";
					text-align: center;
					line-height: 50px;
					font-weight: bold;
					color:#fff;
					display: block;
					width:50px;
					height:50px;
					border-radius: 99px;
					top:32px;
					// margin: auto;
					// top:-9999px;
					// bottom:-9999px;
					left:0;
					// background-color: $main-pink;
				}
			}
		}
	}
	&__listBlock{
		>li{
			display: inline-block;
			margin:4% 0;
			vertical-align: top;
			width:100%;
			// ._article__p{
			// 	@include _font-p2r(14);
			// 	padding:5px 0;
			// }
			// ._article__text--large{
			// 	@include _font-p2r(18);
			// }
			// ._article__text--small{
			// 	@include _font-p2r(13);
			// }
			&:first-child{
				margin-top:0;
			}
			&:last-child{
				margin-bottom:0;
			}
			ul{
				margin-top:15px;
			}
		}
		&--alignCenter{
			text-align: center;
		}
		&--col2{
			display: flex;
			flex-wrap: wrap;
			justify-content:space-between;
			align-items:stretch;
			>li{
				flex: 0 0 46%;
				margin:0;
				margin-bottom: 20px;
			}
		}
		&--col2Full{
			display: flex;
			flex-wrap: wrap;
			justify-content:space-between;
			align-items:stretch;
			>li{
				flex: 0 0 49%;
				margin:0;
				margin-bottom: 20px;
			}
		}
		&--col3{
			display: flex;
			flex-wrap: wrap;
			justify-content:space-between;
			align-items:stretch;
			>li{
				flex: 0 0 30%;
				margin:0;
				margin-bottom: 20px;
			}
		}
		&--col3Full{
			display: flex;
			flex-wrap: wrap;
			justify-content:space-between;
			align-items:stretch;
			>li{
				flex: 0 0 32%;
				margin:0;
				margin-bottom: 50px;
			}
		}
		&--bgWhite{
			&._article__listBlock--col2>li{
				flex: 0 0 49%;
				margin:0;
				margin-bottom: 1%;
			}
			&._article__listBlock--col3>li{
				flex: 0 0 32%;
				margin:0;
				margin-bottom: 1%;
			}
			>li{
				background-color: white;
				border:1px solid #eee;
				margin:1% 0;
				padding:5% 4%!important;
			}
		}
		&--bgColored{
			._article__list{
				>li{
					&::before{
						background-color: white!important;
					}
				}
			}
			._article__list--number{
				>li{
					&::before{
						background-color: initial!important;
					}
				}
			}
			&._article__listBlock--col2>li{
				flex: 0 0 49%;
				margin:0;
				margin-bottom: 1%;
			}
			&._article__listBlock--col3>li{
				flex: 0 0 32%;
				margin:0;
				margin-bottom: 1%;
			}
			>li{
				margin:1% 0;
				padding:5% 4%!important;
			}
			*{
				color:white;
			}
		}
	}
	&__chartTree{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		&--parent{
			flex:0 0 100%;
			padding:12% 10%;
		}
		&--child{
			flex:0 0 49%;
			padding:12% 10%;
			margin-top: 2%;
			position: relative;
			&::before{
				content:"";
				position: absolute;
				top:-30px;
				left:30px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 12.5px 30px 12.5px;
				border-color: transparent transparent #ccc transparent;
			}
		}
		*{
			color:white;
			text-align: center;
		}
	}
	&__slider{
		.swiper-wrapper{
			height:auto;
		}
		.swiper-pagination{
			position:relative;
			margin-bottom:15px;
			text-align:left!important;
			.swiper-pagination-bullet{
				border:none!important;
				border-radius:0!important;
				width:auto!important;
				height:auto!important;
				opacity:1!important;
				background:none!important;
				margin-right:15px!important;
				@include _font-p2r(16);
				color:#999;
				font-weight: bold;
				outline:none;
				&:hover{
					color:#333;
				}
			}
			.swiper-pagination-bullet-active{
				border:none!important;
				border-radius:0!important;
				color:black;
			}
		}
	}
	&__sliderTitles{
		display:none;
		position:absolute;
		top:0;left:0;
	}
	&__sliderBlock{
		._article__img{
			width:100%;
			height:auto;
			border:1px solid #ccc;
			line-height: 1;
		}
	}
	&__sliderNav{
		margin-top:15px;
	 	span{
			font-size:12px!important;
			margin-right:30px;
			outline:none;
			cursor:pointer;
		 }
	}






	
	







	@media screen and (max-width: 767.75px) {
		&__list--col2{
			>li{
				flex: 0 0 100%!important;
			}
		}
		&__listBlock{
			li{
				flex: 0 0 100%!important;
			}
		}
	}
}
