input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color:    #666;
	vertical-align: top;
	position: relative;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    #666;
	opacity:  1;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #666;
	opacity:  1;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:    #666;
}
label{
	line-height: 1.4;
}












////////////////////////////////
// input
////////////////////////////////
input[type="text"], 
input[type="email"], 
input[type="tel"], 
input[type="password"],
textarea {
	background-color: #fff;
	border: 1px solid $greyC;
	padding: 17px 22px;
	height: 90px;
	color: $grey3;
	width: 100%;
	border-radius: 0;
	overflow-y:hidden;
}
textarea::-webkit-scrollbar {
	display:none;
}
input[type="text"]:disabled {
	color: #666;
	border: 1px solid #ccc;
}
input.checkbox-text[type="text"] {
	background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(233,233,233) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(233,233,233) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(233,233,233) 100%);
	font-size: 1rem;
}


textarea {
	height: auto;
}



._form-captcha{
	margin-bottom: 10px;
}

._form-input {
	width: 100%;
	margin-bottom: 10px;
	label {
		@extend ._font--xxs;
		position: absolute;
		top: 15px;
		left: 20px;
		color:#999;
	}
	input{
		height:90px;
		padding: 20px 20px 0 20px;
		line-height: 1;
	}
	&__no-label{
		input{
			padding-top: 0;
		}
	}
}
._form-input-suffix{
	@extend ._font--s;
	@extend ._font--bold;
	color: $grey4;
	position: absolute;
	right: 20px;
	top: 32px;
}


._form-select {
	border: 1px solid $greyC;
	width: 100%;
	height: 90px;
	overflow: hidden;
	background-color: #fff;
	margin-bottom: 10px;
	cursor: pointer;
	label {
		@extend ._font--xxs;
		position: absolute;
		top: 15px;
		left: 20px;
		color:#999;
	}
	select{
		cursor: pointer;
		padding-top: 20px;
		padding-left: 22px;
		width: 100%;
		height: 100%;
		color: $grey3;
		border: none;
		box-shadow: none;
		background-color: transparent;
		background-image: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		&::-ms-expand{
			display: none;
		}
	}
	option {
		color: $grey3;
	}
	&::before{
		right: 0;
		top: 0;
		width: 40px;
		height: 100%;
		position: absolute;
		pointer-events: none;
		content: " ";
	}
	&::after{
		top: 50%;
		right: 14px;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(0, 0, 0, 0);
		border-top-color: $grey4;
		border-width: 5px;
		margin-top: -2px;
		/* z-index: 100; */
	}
}













////////////////////////////////
/* Base for span styling */
//checkbox
////////////////////////////////
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
	position: absolute!important;
	left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
	@extend ._font__title--small;
	padding-top:3px;
	position: relative;
	padding-left: 60px;
	cursor: pointer;
	display: inline-block;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 40px;
	border: 6px solid $themePurple;
	border-radius: 0;
	background: #fff;
}
[type="checkbox"]:not(:checked) + label:before {
	border-color: #f0f0f0!important;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
	content: '';
	width: 33px;
	height: 27px;
	position: absolute;
	top: 3px;
	left: 9px;
	background-repeat: no-repeat;
	background-image: url(~@/assets/img/form/check.svg);
	border-radius: 0;
	transition: all 0.2s ease;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0);
}
[type="checkbox"]:checked + label:after {
	opacity: 1;
	transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
	color: #999;
}
[type="checkbox"]:disabled + label {
	color: #aaa;
}







////////////////////////////////
//radio
////////////////////////////////
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
	@extend ._font__title--small;
	padding-top:3px;
	position: relative;
	padding-left: 60px;
	cursor: pointer;
	display: inline-block;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 40px;
	border: 6px solid $themePurple;
	border-radius: 100%;
	background: #fff;
}
[type="radio"]:not(:checked) + label:before {
	border-color: #f0f0f0!important;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
	content: '';
	width: 16px;
	height: 16px;
	background-color: $themePurple;
	position: absolute;
	top: 12px;
	left: 12px;
	border-radius: 100%;
	transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0);
}
[type="radio"]:checked + label:after {
	opacity: 1;
	transform: scale(1);
}









////////////////////////////////
//required
////////////////////////////////
._form-require::after {
	content: '*';
	color: $themePurple;
	margin-left: 4px;
}






////////////////////////////////
//form element
////////////////////////////////
._form-row {
	margin: 10px 0;
	&:first-child{
		margin-top: 0;
	}
	&:last-child{
		margin-top: 0;
	}
	>._form-input{
		margin-top: 1rem;
		margin-left: 60px;
		width: calc(100% - 60px);
	}
}
._form__fields{
	max-width: 550px;
	margin: auto;
}
._form-filter{
	@extend ._font--s;
	width: 100%;
	margin-top: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px 15px;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	color:#333;
	font-weight: 300;
	background: url(~@/assets/img/icon-select.png) center right 15px no-repeat;
	&--full{
		@extend ._font--bold;
		background-color: white;
		border: none;
		border-bottom: 1px solid #ccc;
		padding: 20px $px;
		border-radius: 0;
		margin: 0;
		background-position: calc(100% - #{$px} - 10px) center;
	}
}
._form-term{
	position: relative;
	width: 100%;
	max-width: 550px;
	margin: auto;
	margin-bottom: 15px;
	text-align: left;
	background-color: #fff;
	border: 1px solid $greyC;
	padding: 17px 22px;
	color: $grey3;
	width: 100%;
	h3{
		position: absolute;
		top: 17px;
		left: 22px;
		text-align: left;
		color:    $grey4;
		@extend ._font--xs;
		vertical-align: top;
	}
	[type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label{
		@extend ._font--bold;
		display: block;
		margin-top: 40px;
		line-height:1;
		padding-top:0;
		color: $grey3!important;
		padding-left:36px;
	}
	[type="checkbox"]:not(:checked) + label:before{
		width:24px!important;
		height:24px!important;
		border:2px solid #c0c0c0!important;
	}
	[type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before{
		width:24px!important;
		height:24px!important;
		border:2px solid #c0c0c0!important;
	}
	[type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after{
		transform:scale(0.6);
		top:-2px;
		left:-4px;
	}
	p{
		@extend ._font--s;
		display: block;
		clear: both;
		margin-top: 10px;
	}
}