.nav {

  background: $planGreen;
  
  
  .navContainer {
 max-width:1280px;
 height: 120px;
 align-items: center;
    display: flex;
  justify-content: space-between;
      margin: auto;
    .nav__links {
    width: 400px;
    display: flex;
        justify-content: space-between;
  }
  img {
      width: 150px;
  }
  }
  
}
a {
  color: #fff;
}