/*grid
=============================================================================*/
// $device-qty:5;
// $gride-width:180px;
// $grid-columns: 24;
// $grid-gutter-width-base: 0;
// $grid-padding:0;

/*color
=============================================================================*/
// $main-purple: #7484FF;
// $light-purple: #AFB8FF;
// $dark-purple: #5D6ACD;

// $main-pink: #e83e8c;
// $main-pink-dark:rgb(146, 53, 53);
// $light-pink: #FFCECE;
// $light-pink2: #FFB2B2;

// $main-green: #06f06f;
// $main-green-dark: rgb(41, 116, 99);
// $light-green: #9EF1DE;
// $light-green2: #DAE3E1;

$grey3: #333;
$grey4: #444;
$grey6: #666;
$grey7: #777;
$grey9: #999;
$greyC: #ccc;

$planGreen: #66cdb6;

// $themePink:#e83e8c;
// $themeGreen:#06f06f;

/*size
=============================================================================*/
$header-height--m: 80px;
$header-height: 120px;
$px: 5%;
$py: 30%;
$fs: 18;
$page-py: 80px;
