._home-body {
	background-color: #fff;
	margin-top: -$header-height--m;
	@media screen and (min-width: 768px) {
		margin-top: -$header-height;
	}
}
._home-hint {
	color: #fff;
	position: fixed;
	right: $px;
	bottom: 40px;
	font-size: 2rem;
	z-index: 3;
	text-align: center;
	span {
		display: block;
	}
	._icon-down {
		display: inline-block;
		font-size: 4rem;
		margin-top: 10px;
	}
}
._home-kv {
	background: $themePurple url(~@/assets/img/home/KV-bg.jpg) no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 100vh;
	min-height: 560px;
	overflow: hidden;
	&__info{
		height: 100%;
		padding-top: 15vh;
		color: #fff;
		text-align: center;
		z-index: 1;
		h2 {
			@extend ._font--en;
			@extend ._font--black;
			font-size: 13vw;
			text-align: center;
			line-height: 1;
			margin-bottom: 1rem;
		}
		p {
			text-align: center;
			margin: auto;
			max-width: 500px;
		}
	}
	&__btn-group{
		position: absolute;
		bottom:10vh;
		left:-999px;
		right:-999px;
		margin: auto;
		width: calc(100% - #{$px*2});
	}
	@media screen and (min-width: 576px) {
		&__info {
			h2{
				@include _font-p2r(64);
			}
		}
	}
	@media screen and (min-width: 768px) {
		&__info {
			h2{
				@include _font-p2r(82);
			}
		}
	}
	@media screen and (min-width: 992px) {
		&__info {
			text-align: left;
			height: auto;
			display: inline-block;
			vertical-align: middle;
			padding-top: 0;
			h2{
				text-align: left;
			}
			p{
				text-align: left;
				margin: 0;
			}
		}
		&__btn-group{
			position: relative;
			bottom: auto;
			left: auto;
			right: auto;
			width: auto;
			margin-top: 50px;
		}
		&::after{
			content:"";
			display: inline-block;
			vertical-align: middle;
			width: 0;
			height: 100%;
		}
	}
	@media screen and (min-width: 1440px) {
		&__info {
			margin-left:calc((100vw - 1280px) / 2);
		}
	}
	&__hands {
		width:120vw;
		height:120vw;
		position: absolute;
		top: 50%;
		left: 50%;
		overflow: visible;
	}
	&__hand {
		position: absolute;
	}
	&__hand1 {
		width:100%;
		top:-11%;
		left:-85%;
	}
	&__hand2 {
		width:74%;
		top:-40%;
		left:-60%;
	}
	&__hand3 {
		width:61%;
		top:-43%;
		left:-5%;
	}
	&__hand4 {
		width:108%;
		top:-12%;
		left:-15%;
	}
	&__hand5 {
		width:88%;
		top:-5%;
		left:-10%;
	}
	&__hand6 {
		width:39%;
		top:-5%;
		left:-11%;
	}
	@media screen and (min-width: 992px) {
		&__hands {
			width:110vh;
			height:110vh;
			top: 37%;
			left: 75%;
		}
	}
}

._home-go {
	background: url(~@/assets/img/home/way-bg.jpg) no-repeat center center;
	background-size: cover;
	width: 100%;
	overflow: hidden;
	&::before{
		content:"";
		display: block;
		width: 100%;
		height: 10%;
		position: absolute;
		top:0;
		left: 0;
		z-index: 100;
		background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	}
	&__info {
		height: 100%;
		padding-top: 15vh;
		text-align: center;
		z-index: 1;
		h2 {
			@extend ._font__title--small;
			text-align: center;
			// line-height: 1;
			margin-bottom: 1rem;
		}
		p {
			@extend ._font__title;
			text-align: center;
			margin-bottom: 3rem;
		}
		a{
			margin-top: 30px;
		}
	}
	@media screen and (min-width: 768px) {
		&__info {
			p{
				@include _font-p2r(42);
			}
		}
	}
	@media screen and (min-width: 992px) {
		height: 100vh;
		min-height: 600px;
		&__info {
			text-align: left;
			height: auto;
			display: inline-block;
			vertical-align: middle;
			padding-top: 0;
			h2{
				text-align: left;
			}
			p{
				text-align: left;
				margin: 0;
			}
			a{
				margin-top: 50px;
			}
		}
		&::after{
			content:"";
			display: inline-block;
			vertical-align: middle;
			width: 0;
			height: 100%;
		}
	}
	@media screen and (min-width: 1440px) {
		&__info {
			margin-left:calc((100vw - 1280px) / 2);
		}
	}
	&__anaimation{
		width:100%;
		z-index: 0;
		height: 60vw;
		>div{
			position: absolute;
			img{
				width:100%;
			}
		}
	}
	&__road-back{
		width:100%;
		top:-40%;
		left:0%;
		z-index: 0;
	}
	&__rock-back{
		width:86%;
		top:-60%;
		left:7%;
		z-index: 1;
	}
	&__road-middle{
		width:100%;
		top:-40%;
		left:0%;
		z-index: 2;
	}
	&__road-front{
		width:84%;
		top:10%;
		right:0%;
		z-index: 3;
	}
	&__rock-front{
		width:86%;
		top:-70%;
		left:7%;
		z-index: 4;
	}
	@media screen and (min-width: 992px) {
		&__anaimation{
			position: absolute;
			top:0;
			left:0;
			height: 100vh;
		}
		&__road-back{
			width:100%;
			top:-40%;
			left:0%;
			z-index: 0;
		}
		&__rock-back{
			width:86%;
			top:-60%;
			left:7%;
			z-index: 1;
		}
		&__road-middle{
			width:100%;
			top:-40%;
			left:0%;
			z-index: 2;
		}
		&__road-front{
			width:84%;
			top:10%;
			right:0%;
			z-index: 3;
		}
		&__rock-front{
			width:86%;
			top:-70%;
			left:7%;
			z-index: 4;
		}
	}
}

._home-county-ssa {
	@extend ._global__section;
	text-align: center;
	background-color: lighten($primary-light,10%);
	background-color: #f8f8f8;
	overflow: hidden;
	padding-bottom: 120px;
	h2 {
		@extend ._font__title;
		z-index: 10;
	}
	&__btn-group{
		z-index: 12;
	}
	.btn{
		color:white;
	}
	&__btn--county{
		.btn{
			background-color: $themePink;
		}
	}
	&__btn--ssa{
		.btn{
			background-color: $themeGreen;
		}
	}
	@media screen and (min-width: 768px) {
		padding-bottom: 280px;
		h2{
			@include _font-p2r(42);
			color: white;
		}
		&::before{
			content:"";
			display: block;
			position: absolute;
			left:0;
			top:0;
			z-index: 0;
			width:50%;
			height: 100%;
			background-color: $themePink;
		}
		&::after{
			content:"";
			display: block;
			position: absolute;
			right:0;
			top:0;
			z-index: 1;
			width:50%;
			height: 100%;
			background-color: $themeGreen;
		}
		.btn{
			position: absolute;
			top:0;
			width:50%;
			max-width: initial;
			left:50%;
			margin-left: -25%!important;
			background-color:white;
		}
		&__btn--county{
			position: absolute;
			left:0;
			top:0;
			width:50%;
			height: 100%;
			.btn{
				color:$themePink;
				&:hover{
					color:darken($themePink,5%);
				}
			}
		}
		&__btn--ssa{
			position: absolute;
			right:0;
			top:0;
			width:50%;
			height: 100%;
			.btn{
				color:$themeGreen;
				&:hover{
					color:darken($themeGreen,5%);
				}
			}
		}
	}
	&__img {
		position: absolute;
		z-index: 2;
	}
	&__p1 {
		width: 48px;
		left: 40%;
		bottom:1%;
		@media screen and (min-width: 768px) {
			width: auto;
			left: auto;
			bottom:auto;
			top: 10%;
			right: 15%;
		}
	}
	&__p2 {
		width: 73px;
		left: 10%;
		bottom: 5%;
		@media screen and (min-width: 768px) {
			width: auto;
			left: 53%;
			bottom: 3%;
		}
	}
	&__p3 {
		width: 101px;
		right: -3%;
		bottom: 6%;
		@media screen and (min-width: 768px) {
			width: auto;
			bottom: 30%;
		}
	}
	&__p4 {
		width: 63px;
		right: 5%;
		top: 40%;
		@media screen and (min-width: 768px) {
			width: auto;
			left: 5%;
			right: auto;
			top: 45%;
		}
	}
	&__p5 {
		width: 63px;
		left: 15%;
		top: 10%;
		opacity: .3;
		@media screen and (min-width: 768px) {
			width: auto;
			opacity: 1;
			left: 20%;
			top: 20%;
		}
	}
}

._home-news {
	@extend ._global__section;
	overflow: hidden;
	// padding-left:$px;
	// padding-right:$px;
	h2 {
		@extend ._font--bold;
		color: $themePurple;
		margin-bottom: 2rem;
	}
	.swiper-container{
		overflow: visible;
	}
	.swiper-slide {
		padding-right: $px;
		border-right: 1px solid $greyC;
		// max-width: 305px;
		max-width: 410px;
		a{
			display: flex;
			// flex-wrap:wrap;
			// align-items: flex-start;
			height: 100%;
			flex-direction: column;
		}
		p {
			@extend ._font--l;
			@extend ._font--black;
			@extend ._font--en;
			flex:0 0 28px;
			color: $themePurple;
			margin-bottom: 1rem;
			// align-self: flex-start;
		}
		h3 {
			@extend ._font__title--item;
			flex:0 0 calc(100% - 28px - 70px - 1rem - 1.5rem);
			// flex:0 0 100%;
			color:black;
			// align-self: flex-start;
			// vertical-align: top;
		}
		.btn{
			flex:0 0 70px;
			width: 140px;
			max-width: 140px;
			padding:22px;
			// align-self: flex-end;
			justify-self:baseline;
		}
	}
	.swiper-slide:last-child {
		border-right: none;
	}
	&__nav{
		float: right;
	}
	@media screen and (min-width: 996px) {
		.swiper-slide {
			padding-right: 50px;
		}
	}
}

._home-banner {
	overflow: hidden;
	a{
		display: block;
		color:white;
		height: 130vw;
		background-size: cover;
		background-position: center center;
		padding: 15% $px 0 $px;
		text-align: center;
	}
	h2 {
		@extend ._font__title--large;
		@extend ._font--black;
	}
	h3 {
		@extend ._font__title;
	}
	p {
		@extend ._font--bold;
	}
	&__pagination {
		z-index: 1;
		bottom: 30px!important;
		left: $px!important;
		position: absolute;
	}
	&__btn{
		@extend ._font--bold;
		@extend ._font--en;
		letter-spacing: 0.3rem;
		position: absolute;
		z-index: 1;
		right:$px;
		bottom:30px;
		border-radius: 50%;
		background-color: $themePurple;
		width: 100px;
		height: 100px;
		color: #fff;
		border: none;
		box-shadow: 0 10px 10px rgba(0, 0, 0, .15);
		cursor: pointer;
		transition: .3s;
		&:hover {
			background-color: #fff;
			color: $themePurple;
		}
	}
	@media screen and (max-width: 991.75px) {
		.container{
			padding: 0;
		}
	}
	@media screen and (min-width: 768px) {
		._home-banner__container>div{
			height: 0;
			padding-top: 45%;
		}
		.swiper-container{
			position: absolute;
			top:0;left:0;
			width:100%;
			height: 100%;
		}
		a{
			height: 100%;
			padding: 0 $px;
			text-align: left;
			display: flex;
			flex-wrap: wrap;
			align-content:center;
		}
		h2{
			@include _font-p2r(64);
			display: block;
			flex:0 0 100%;
		}
		h3{
			display: block;
			flex:0 0 100%;
		}
		p{
			display: block;
			flex:0 0 100%;
		}
	}
	@media screen and (min-width: 992px) {
		overflow: visible;
		// .container{
		// 	padding: 0 $px;
		// }
		.swiper-container{
			border-radius:20px;
			box-shadow: 0 10px 10px rgba(0, 0, 0, .05);
		}
		._home-banner__container,
		._home-banner__container>div{
			overflow: visible;
		}
		&__btn{
			width: 120px;
			height: 120px;
			bottom:-15px;
		}
	}
}

._home-case-study {
	// padding:100px $px;
	@extend ._global__section;
	overflow: hidden;
	// padding-left:$px;
	// padding-right:$px;
	background: url(~@/assets/img/home/caseBg.png) no-repeat;
	background-size: cover;
	.swiper-container{
		overflow: visible;
	}
	.swiper-slide {
		// padding-right: 8%;
		box-shadow: 0px 10px 10px rgba(0, 0, 0, .1);
		background: #FFFFFF;
		cursor: pointer;
		max-width: 305px;
	}
	&__nav{
		float: right;
	}
	
	h2 {
		@extend ._font__title;
		color: #fff;
		margin-bottom: 2rem;
	}
	&__img{
		width: 100%;
		height: 80vw;
		max-height: 350px;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	&__text{
		padding:30px $px;
		position: relative;
		background: #FFFFFF;
		h3 {
			@extend ._font__title--item;
			line-height: 1.2;
			&.pink {
				color: $themePink;
			}
			&.green {
				color: $themeGreen;
			}
		}
	}
	@media screen and (min-width: 992px) {
		// padding:150px $px;
		margin-top: -200px;
		padding-top: 320px;
	}
}

._home-endding {
	@extend ._global__section;
	background-color: #f8f8f8;
	text-align: justify;
	font-size: 1.1em;

	h3 {
		@extend ._font--bold;
		color: $themePurple;
		margin-bottom: 1rem;
		font-size: 1.2em;
	}
}

