._news-year-list {
	h1 {
		@extend ._font__title;
		color: $themePurple;
		margin-bottom: 1.5rem;
	}
}

._news-year-m-list {
	overflow: hidden;
	h1{
		margin-bottom: 1rem;
	}
	._nav-side__list{
		margin-bottom: 30px;
	}
}

._news-item {
	display: block;
	background: #FFFFFF;
	border: 2px solid $themePurple;
	padding: 30px 20px;
	margin-bottom: 20px;
	p {
		@extend ._font--black;
		@extend ._font--en;
		@extend ._font--l;
		color: $themePurple;
		margin-bottom: 1rem;
	}
	h2 {
		@extend ._font__title--item;
		margin-bottom: 1.5rem;
	}
	a {
		@extend ._font--xs;
		color: #ccc;
	}
	&:hover{
		h2{
			color: darken($themePurple,5%);
		}
		a{
			color: #666;
		}
	}
	@media screen and (min-width: 992px) {
		padding: 40px 30px;
	}
}

.page--newsDetail{
	@media screen and (max-width: 991.75px) {
		padding:0;
	}
}
._news-detail-date {
	div {
		background: $themePurple;
		width: 140px;
		height: 140px;
		&::after{
			content: "";
			display: inline-block;
			vertical-align: middle;
			width: 0;
			height: 100%;
		}
		span {
			@extend ._font--xs;
			@extend ._font--en;
			@extend ._font--bold;
			letter-spacing: 2px;
			color: #FFFFFF;
			position: absolute;
			top:15px;
			left:15px;
		}
		p {
			@include _font-p2r(64);
			@extend ._font--en;
			@extend ._font--black;
			width: 100%;
			display: inline-block;
			vertical-align: middle;
			color: #FFFFFF;
			text-align: center;
			padding-top: 15px;
		}
	}
	@media screen and (max-width: 991.75px) {
		div{
			width:100vw;
			margin-left:calc((100% - 100vw) / 2);
			span{
				left:$px;
			}
			p{
				text-align: left;
				padding-left: $px;
			}
		}
	}
}

._news-detail-body {
	@media screen and (max-width: 991.75px) {
		padding: $page-py 0;
	}
	&__title {
		@extend ._font__title;
		margin-bottom: 2rem;
	}
	&__img {
		img{
			width:100%;
		}
	}

}

._news-detail-back {
	display: block;
	border: 1px solid $themePurple;
	color: $themePurple;
	border-radius: 100px;
	width: 200px;
	height: 68px;
	padding-top: 25px;
	text-align: center;
	transition: .3s;
	margin-top: 54px;
	&:hover {
		// color: $light-purple;
		// border-color: $light-purple;
	}
}