#html-2-pdfwrapper{
	// width:1px;
	// height: 1px;
	width:100vw;
	height: 100vh;
	// overflow:hidden;
	position: fixed;
	top:0;
	left:0;
	// z-index: -1;
}

._pdf {
	// width:1145px;
	// height:1906px;
	width:1425px;
	// height:2016px;
	padding: 140px 110px;
	background-color: #fff;
	background:#fff url(~@/assets/img/pdf/bg.png) center bottom no-repeat;
	position: relative;
	*{
		color: #000000;
	}
}

._pdf-header {
	padding-bottom: 30px;
	&__logo{
		width:159px;
		height:34px;
	}
	&__info{
		@include _font-p2r(14);
		@extend ._font--bold;
		margin-top: 15px;
	}
}
._pdf-footer{
	padding-top: 30px;
	&__ncdr{
		width:57px;
		height: 39px;
		display: inline-block;
		vertical-align: top;
	}
	&__info{
		display: inline-block;
		vertical-align: top;
		em{
			@include _font-p2r(13);
			@extend ._font--black;
		}
		span{
			@include _font-p2r(12);
			@extend ._font--bold;
			padding-top:20px; 
		}
	}
	small{
		@include _font-p2r(12);
		@extend ._font--bold;
		float: right;
		text-align: right;
		line-height: 1.4;
	}
}
._pdf-content{
	&__title{
		@include _font-p2r(36);
		@extend ._font--black;
		padding-bottom: 30px;
		line-height: 1.2;
	}
	&__description{
		@include _font-p2r(24);
		@extend ._font--black;
		margin-top: 15px;
		width:calc(100% - 250px);
		height: 80px;
		&--ssa{
			@include _font-p2r(16);
			@extend ._font--bold;
			// margin-top: 15px;
			// width:100%;
			// height: auto;
			margin-top: 30px;
			li{
				@extend ._font--s;
				padding: 0.5rem 0;
			}
		}
	}
	&__meters{
		@include _font-p2r(0);
		width: 100%;
		margin: 30px 0 50px 0;
		li{
			display: inline-block;
			vertical-align: top;
			width: 33%;
			padding: 0 4%;
			h3{
				@include _font-p2r(28);
				@extend ._font--black;
				text-align: center;
				margin-top: 30px;
			}
			p{
				@include _font-p2r(16);
				@extend ._font--bold;
				line-height: 1.4;
				text-align: center;
				margin-top: 15px;
			}
		}
	}
	&__people{
		border-bottom: 1px solid #ccc;
		margin-bottom: 50px;

		display: flex;
		flex-wrap: wrap;
		li{
			padding:50px 30px;
			border: 1px solid $greyC;
			border-bottom: none;
			flex:0 0 33.3333%;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			&:last-child{
				flex:0 0 100%;
			}
			&:first-child,&:nth-child(2){
				border-right: none;
			}
			h3{
				@include _font-p2r(22);
				@extend ._font--black;
				display: inline-block;
				vertical-align: middle;
			}
			div{
				flex:0 0 80px;
				line-height: 1;
				text-align: right;
			}
			label{
				@include _font-p2r(32);
				@extend ._font--black;
				line-height: 1;
				margin-bottom: -5px;
				color:$themeGreen;
			}
			span{
				@include _font-p2r(18);
				@extend ._font--black;
				margin-left: 5px;
				line-height: 1;
				color:$themeGreen;
			}
		}
	}



	&__level{
		top: 70px;
		right: 0;
		position: absolute;
		width:210px;
		height: 350px;
		svg{
			position: absolute;
			right:30px;
		}
		span{
			@include _font-p2r(72);
			@extend ._font--black;
			position: absolute;
			top:12px;
			right:69px;
		}
		img{
			position: absolute;
			display: block;
			height: 210px;
			width: auto;
			bottom: 0;
			right:0;
		}
	}
	&__score{
		border-bottom:1px solid #ccc;
		margin-top: 50px;
		._pdf-content__section{
			position: relative;
			border-top:1px solid #ccc;
			padding: 50px 0;
		}
		._pdf-content__subtitle{
			width:calc(100% - 175px);
		}
		h3{
			@include _font-p2r(20);
			@extend ._font--black;
			margin-bottom: 10px;
		}
		._pdf-content__bar{
			// background: $main-pink;
			border-radius: 19px;
			height: 14px;
			width: 0;
		}
		._pdf-content__scoreNum{
			@include _font-p2r(64);
			@extend ._font--black;
			position: absolute;
			top: 40px;
			right: 25px;
			span {
				@include _font-p2r(36);
				@extend ._font--black;
			}
		}
	}
	&__suggest{
		margin-top: 10px;
		h5{
			@include _font-p2r(18);
			@extend ._font--black;
			margin-bottom: 10px;
		}
		li{
			@include _font-p2r(16);
			@extend ._font--bold;
			display: block;
			margin-bottom:10px;
		}
		._pdf-content__comment{
			padding-bottom: 10px;
			p{
				@include _font-p2r(16);
				@extend ._font--bold;
				display: block;
			}
			._pdf-content__links{

			}
			._pdf-content__links li{
				@include _font-p2r(14);
				@extend ._font--bold;
				display: inline-block;
				margin-top: 5px;
				margin-right: 10px;
				text-decoration: underline;
			}
		}
	}
	&__record{
		margin-top: 10px;
		h5{
			@include _font-p2r(18);
			@extend ._font--black;
			margin-bottom: 10px;
		}
		ul{
			padding-bottom: 10px;
		}
		li{
			padding: 10px 0;
			border-top: 1px solid #ccc;
			&:first-child{
				border-top:none;
			}
			&::after{
				content:"";
				display: table;
				clear: both;
			}
		}
		._pdf-content__question{
			@include _font-p2r(16);
			@extend ._font--bold;
			line-height: 1.4;
			float: left;
			width:70%;
			padding-right: 30px;
		}
		._pdf-content__answer{
			@include _font-p2r(16);
			@extend ._font--bold;
			line-height: 1.4;
			float: left;
			width:30%;
		}
	}
}