
.plan-section {
  grid-area: page;
  margin-top: 76px;
  padding-right:0;
  width: 75%;
  .planHeader {
    &__title {
      margin-right:94px;
    }
  }
}

.plan-edit{
  grid-area: page;
  margin-top: 76px;
  padding-right:0;
  width: 75%;
}

.planHeader {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
  border-bottom: 2px solid #66cdb6;
      margin-bottom: 25px;
  &__title {
        height: 36px;
    line-height: 36px;
    font-size: 30px;
        margin-right: 26px;
    color: #66cdb6;
        font-weight: bold;
  }
  &__option {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  &__option:first-of-type {
    margin-right: 16px;
    color: #f45454;
  }
  &__option:last-of-type {
    margin-right: 16px;
    color: #66cdb6;
  }
}

.planSection {
  display: flex;
}

.planTitle {
  display: flex;
  align-items: center;
      width: fit-content;
  justify-content: space-between;
      margin-bottom: 12px;
  &__text {
    background: #66cdb6;
    color: #fff;
    width: 140px;
    text-align: center;
    font-weight: bold;
    border-radius: 50em;
        height: 39px;
    padding: 0;
    line-height: 39px;
  }
  &__redIcon {
    background: #f45454;
    border-radius: 100%;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      color: #fff;
    }
  }
  &__greenIcon {
    background: #66cdb6;
    border-radius: 100%;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      color: #fff;
    }
  }
}


.planTopic .themeColor {
  font-size: 1.5rem;
  display: flex;
    align-items: center;
    font-weight:bold;
}

.plan-section-three-two .planTopic, .plan-section-three-two .planTitle {
  display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 23px;
    margin-bottom:23px;
    img {
      margin-left: 5px;
    }
}

.fromToYear {
  color:#777;
    width: auto;
    margin-bottom: 10px;
    .normalInput {
          width: 201px;
    height: 54px;
    }
    .addBtn {
      margin-left: 160px;
      height: 37px;
      margin-bottom: 0;
      float: right;
      padding: 4px 34px;
    }
    span {
      margin: 0 6px;
    }
}


table.blueTable {
  border: 0px solid #FFFFFF;
  width: 100%;
  text-align: left;
  background: #f2f2f2;
  border-collapse: collapse;
  color:#777;
}
table.blueTable td, table.blueTable th {
  border: 3px solid #FFFFFF;
  padding: 3px 3px;
}

table.blueTable tbody tr:nth-of-type(even){
      background: #fff;
}

table.blueTable thead {
  background: #66CDB6;
  border-bottom: 3px solid #FFFFFF;
  text-align:center;
  
}
table.blueTable thead th {
  font-weight: bold;
  color: #FFFFFF;
  border-left: 3px solid #FFFFFF;
      text-align: center;
    vertical-align: middle;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot td {
  font-size: 14px;
}

.plan-section-three-four .planTopic {
  display: flex;
  align-items: center;
  .addBtn {
    margin-left: 160px;
    height: 37px;
    margin-bottom: 0;
    float: right;
    padding: 4px 34px;
  }
}

.inline {
  display: inline-block;
}

.underline{
  text-decoration: underline;
  text-align:center;
}
