.checkBlock{
  display: grid;
  grid-template-columns: repeat(4,190px);
  grid-template-rows: 40px;
  &:first-child {
    grid-template-columns: 190px 190px auto;
  }
  &:last-child {
    margin-bottom:40px;
  }
  .checkContainer {
    display: flex;
      align-items: center;
    input[type="checkbox"] {
      position: relative!important;
      left: auto;
      -webkit-appearance: checkbox;
    }
    label {
      padding: 0;
      font-size: 1rem;
      font-weight: normal!important;
      &:before {
        display:none;
      }
    }
  }
}

.col-3 {
 grid-template-columns: 190px 190px 420px!important;
}


.twoColumn {
  display:grid;
  grid-template-columns: 289px auto;
  grid-gap: 8px;
  grid-template-rows: 53px;
    margin-bottom: 8px;
}

textarea {
      padding-left: 30px;
    padding: 0 30px;
    line-height: 47px;
    height: 47px;
  border-radius: 4px;
  margin-bottom:12px;
  color: #858585;
}
input[type="text"]{
   padding-left: 30px;
    padding: 0 30px;
    line-height: 47px;
    height: 47px;
  border-radius: 4px;
  margin-bottom:12px;
  color: #858585;
}

.addBtn {
  height: 37px;
  padding: 4px 34px;
  color:#fff;
  background: #FF8A8A;
  width: max-content;
  height: 52px!important;
    line-height: 52px!important;
    padding: 0 34px!important;
    border-radius: 8px;
    margin-bottom:21px;
  i {
    color:#fff;
  }
}

.fl-r {
  float:right;
}

textarea::--webkit-scrollbar {
  display:none!important;
}


.modal::--webkit-scrollbar {
  display:none!important;
}