.plan-list {
      padding: 0 5% 174px 5%;
  background: #f8f8f8;
  &__title {
    padding: 36px 0;
    h1 {
      color: $planGreen;
      font-size:42px;
      font-weight:bold;
    }
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 1440px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.plan-block {
  margin-right: 50px;
  margin-bottom: 50px;
  min-width: 275px;
  height: 473px;
  display: flex;
  justify-content: center;
  &:first-of-type {
    background: #3bb298;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    svg {
      font-size: 252px;
    }
    span {
      font-size: 30px;
      margin-top:20px;
    }
  }
}

.new-plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding-top: 6px;
  &__header {
    display: flex;
    width: 100%;
    color: #3bb298;
    padding-left: 10px;
    align-items: flex-start;
        padding-top: 8px;
    span {
      font-size:28px;
          height: 28px;
    line-height: 28px;
    }
    &__close {
      position: absolute;
      right: 7px;
      background: #3bb298;
      color: #fff;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      border-radius: 4px;
      font-size: 16px!important;
    }
  }
  &__content {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .plan-options {
      justify-content: space-evenly;
      width: 100%;
      margin-bottom: 10px;
      align-items: center;
      display: flex;
      .plan-options__btn {
        border: 1px solid #d4d4d4;
        align-items: center;
        color: #424242;
        border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
        padding: 0;
    height: 32px;
    width: 86px;
    line-height: 32px;
    text-align: center;
        svg {
          margin-right: 8px;
        }
      }
    }
    .plan-img {
      img {
        width: 180px;
        height: 255px;
      }
    }
    span {
      color: #656c6a;
          font-size: 14px;
    letter-spacing: 1px;
    }
  }
  &__footer {
    width: 100%;
    background: #3bb298;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      color: #fff;
    }
  }
}
