._resource-header {
	float: right;
	display: inline-block;
	margin-top:8px;
}

._resource-filter {
	display: inline-block;
	li {
		margin-right: 28px;
		display: inline-block;
		button {
			@extend ._font--s;
			color: $grey7;
			cursor: pointer;
			transition: .3s;
			&:hover {
				color: black;
			}
		}
	}
}


._resource-tags {
	margin-top: 10px;
}
._resource-tags__tip{
	@extend ._font--xs;
	color:#999;
	height: 25px;
	p{
		position: absolute;
		bottom:-35px;
	}
	em{
		@extend ._font--bold;
		color:#333;
		padding:  0 5px;
	}
}
._resource-list{
	margin-top: 50px;
	&__item {
		padding: 12% $px;
		margin-bottom: 20px;
		@media screen and (min-width: 992px) {
			padding: 50px 40px;
		}
	}
	
	&__type {
		@extend ._font--xs;
	}
	
	&__collect {
		@extend ._font--xs;
		cursor: pointer;
		transition: .3s;
		display: inline-block;
		float: right;
		&:hover {
			color: $grey9;
		}
	}
	
	&__title {
		@extend ._font__title--item;
		clear: both;
		margin-top: 1rem;
	}
	
	&__content {
		margin-top: 1rem;
	}
	
	&__by {
		@extend ._font--s;
		margin-top: 2rem;
	}
}