._subject-nav{
	background-color: white;
	padding: 50px 0;
	border-bottom: 1px solid #ccc;
	ul{
		text-align: center;
	}
	li{
		display: inline-block;
		margin:0 20px;
		a{
			@extend ._font--s;
			@extend ._font--bold;
			color:#333;
		}
	}
}
._subject-side-list {
	._form-filter{
		background: white;
	}
	._subject-side-list__tip{
		@extend ._font--xs;
		color:#ccc;
		line-height: 1;
		display: inline-block;
		height: 16px;;
		position: absolute;
		z-index: 100;
		right:$px;
		top:-999px;
		bottom:-999px;
		margin: auto;
		pointer-events: none;
	}
}

._subject-main {
	padding-top: #{$page-py/2};
	padding-bottom: $page-py;
	&__progress {
		@extend ._font--xs;
		@extend ._font--bold;
		color: $grey7;
		margin-bottom: 30px;
		span {
			color: $themePurple;
		}
	}
	h1{
		@extend ._font__title;
	}
	&__teacher{
		display: none;
		right:-75px;
		// background: green;
		@media screen and (min-width: 640px) {
			display: block;
			position: fixed;
			bottom:0;
			width: 280px;
			z-index: 1000;
		}
		@media screen and (min-width: 992px) {
			right: auto;
			margin-left: -7.5vw;
		}
		@media screen and (min-width: 1200px) {
			margin-left: -57px;
		}
	}
	&__article{
		padding:#{$page-py/2} 0 $page-py 0;
		border-bottom: 1px dotted #ccc;
	}
	&__resource,&__case-study,&__qa,&__ref {
		padding:$page-py 0;
		border-bottom: 1px dotted #ccc;
		h2{
			@extend ._font__title--small;
			margin-bottom: 1rem;
		}
	}
	&__resource,&__case-study,&__ref{
		li{
			padding-left: 20px;
			cursor: pointer;
			margin:0.8rem 0;
			line-height: 1.6;
			a{
				color:black;
			}
			&:hover{
				text-decoration: underline;
			}
			&::after{
				content:"";
				display: block;
				width:2px;
				height:2px;
				background-color: black;
				position: absolute;
				left:0;
				top:15px;
			}
		}
	}
	&__qa{
		li {
			border: 1px solid #CCC;
			border-radius: 5px;
			padding: 30px 0;
			margin-top: 10px;
			cursor: pointer;
			transition: .3s;
			&:before {
				@extend ._font--en;
				@extend ._font--black;
				@extend ._font--l;
				content: 'Q';
				color: $themePurple;
				display: block;
				position: absolute;
				top: 30px;
				left: 18px;
			}
			&:after {
				content: '＋';
				display: block;
				position: absolute;
				top: 30px;
				right: 18px;
				color: #c7c7c7;
			}
			p {
				@extend ._font--bold;
				padding: 0 50px;
			}
			span {
				display: none;
				padding: 20px 50px 0 50px;
			}
		}
		li.open {
			&:after {
				content: '−';
			}
			span {
				display: block;
			}
		}
	}
	@media screen and (min-width: 992px) {
		padding-top: 0;
	}




	&__footer {
		padding-top: $page-py;
		display: flex;
		flex-direction: row-reverse;
		flex-wrap: wrap;
		align-items:center;
		p{
			@extend ._font--bold;
			@extend ._font--xl;
			flex: 0 0 100%;
			margin-bottom: 50px;
		}
		._subject__prev{
			margin-top:30px;
			&:hover{
				background: none;
			}
		}
		@media screen and (min-width: 576px) {
			justify-content: flex-end;
			._subject__prev{
				margin-top:0;
				margin-right: 20px;
			}
		}
	}
}
._subject .page{
	padding-top: 0;
	@media screen and (min-width: 992px) {
		padding-top: $page-py;
	}
}
._subject ._second-nav{
	margin-top: 0;
}