._survey-page-title {
    padding: 30px 0;
    background-color: #fff;
	border-bottom: 1px solid $greyC;
    h1{
        @extend ._font--bold;
    }
}
._survey-page-content{
    padding: $page-py 0;
}
._survey-page-loading{
	width:100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left:0;
	div{
		width:100vw;
		height: 150px;
		position: absolute;
		margin: auto;
		left:-9999px;
		right:-9999px;
		top:-9999px;
		bottom:-9999px;
		text-align: center;
	}
	span{
		@extend ._font--bold;
		display: block;
        margin-top:15px;
        color:$themePurple
	}
}

._survey-question {
	&__progress {
        @extend ._font--xs;
        @extend ._font--bold;
		color: $grey6;
		span {
            @extend ._font--en;
		}
	}
	&__title {
        @extend ._font__title;
        margin-top: 2rem;
        span{
            margin-right: 10px;
            @extend ._font--en;
        }
	}
	&__description {
        @extend ._font--s;
        text-align: justify;
        margin-top: 2rem;
		color: $grey3;
    }
    @media screen and (min-width: 992px) {
        padding-right: 50px;
    }
}

._survey-answer {
	>span {
        @extend ._font--xs;
        @extend ._font--bold;
		color: $grey6;
    }
    &__body{
        margin-top:2rem;
    }
    &__ps{
        display:block;
        font-size:13px;
        color:#999;
        line-height: 1.6;
        margin-top:1em;
        @media screen and (min-width: 1440px) {
            font-size:15px;
        }
    }
    ._form-row{
        margin-bottom:1rem;
    }
    &__nav{
        margin:3rem 0 80px 0;
        padding-top: 3rem;
        border-top: 1px $greyC solid;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media screen and (min-width: 576px) {
            flex-wrap: nowrap;
            justify-content: space-between;
            flex-direction: row-reverse;
        }
    }

    &__btn--next{
        box-shadow: 0 20px 40px 0 rgba(0,0,0,0.04);
    }
    &__btn--prev{
        @extend ._font--s;
        @extend ._font--bold;
        color: $grey9;
        margin-top: 30px;
        &:hover {
            color: #333;
        }
        @media screen and (min-width: 576px) {
            margin: 0;
        }
    }
}